<header>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
      <li><%= link_to "Főoldal", root_path %></li>
      <% if signed_in? %>
      <li><%= link_to "Felhasználók", users_path %></li>
      <li><%= link_to "Profil", current_user %></li>
      <li><%= link_to "Beállítások", edit_user_path(current_user) %></li>
      <% end %>
      <li><%= link_to "Segítség", help_path %></li>
      <% if signed_in? %>
      <li><%= link_to "Kijelentkezés", signout_path, :method => :delete %></li>
      <% else %>
      <li><%= link_to "Bejelentkezés", signin_path %></li>
      <% end %>
    </ul>
  </nav>
</header>


